<!DOCTYPE html>
<html>
<head>
	<title>Form</title>

</head>

<body>
<div align="center">
<form method="POST" enctype="multipart/form-data"> {%csrf_token%}

<!--<label for="file">File </label>-->
<input id="file" type="file" name="file"/>
</div>
<br>
<div align="center">
<!-- {{ form.as_p }}-->
<input type="submit" value="Upload!!"/>
	
</form>
<form method="GET" action = "{% url 'super_res' %}" >
   <input type="submit" value="Super Resolution" name="super_res">
</form>
<form method="GET" action = "{% url 'yolo' %}" >
   <input type="submit" value="Object Detection" name="yolo">
</form>


</div>
</body>
</html>